<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<table>
    <thead>
    <tr>
        <th>Grade</th>
        <th>Date</th>
        <th>Type</th>
        <th>%</th>
    </tr>
    </thead>
    <tbody>
    {% for id, grade,date,weight,type in grades %}
    <tr>
        <td>{{grade}}</td>
        <td>{{date}}</td>
        <td>{{type}}</td>
        <td>{{weight}}</td>
        <td><button class="delete-button" type="button" id="delete-grade-{{id}}" onclick="deleteGrade(event.target.id)"><span class="material-icons-outlined material-icons">
                delete
                </span>Delete</button></td>
        <td><button class="edit-button" type="button" onclick="editGrade('{{id}}', '{{grade}}','{{date}}','{{weight}}','{{type}}')"><span class="material-icons-outlined material-icons">
                edit
                </span>Edit</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>